.results-list-item {
  background-color: #fff;
  box-sizing: border-box;
  color: #1a1a1a;
  list-style: none;

  &[aria-selected='true'],
  &:hover {
    background-color: #e7f4fe;
  }

  &__container {
    cursor: pointer;
    padding: 8px;
  }

  &__divider {
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 0;
  }
}
