.search {
  position: relative;

  &__input-container {
    position: relative;
  }

  &__location-icon {
    color: #333;
    height: 16px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }

  &__input {
    padding-left: 32px;
    width: 100%;
  }

  &__loading-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__results {
    position: absolute;
    width: 100%;
  }
}
