@import '../../styles/varibles.scss';

.results-list {
  background-color: #fff;
  border: 1px solid $main-color;
  border-radius: 4px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__empty {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
