.results-list {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__empty {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.results-list-item {
  background-color: #fff;
  box-sizing: border-box;
  color: #1a1a1a;
  list-style: none;

  &[aria-selected='true'] {
    background-color: #e7f4fe;
  }

  &__container {
    cursor: pointer;
    padding: 8px;
  }

  &__divider {
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 0;
  }
}
