.results-list {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__empty {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.results-list-item {
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #6f6f6f;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-between;
  list-style: none;
  margin: 4px 0;
  padding: 2px 10px;

  &__link,
  &__button {
    height: 100%;
  }
}
